@media  all  and ( max-width: 1024px) {
    
    body {

    	font-size: 15px;
    	margin:  0px;
    }

    header {

	    display: block;
		justify-content: center;
		align-items: center;
	}


	.menufix {
		
		width: auto;
	}

	.menu {
		
		display: grid;
	    width: 100%;
	}


	.logo {
		
		font-size: 10px;
		margin-left: 20px;
	
	}

	.site_nav {

		width: auto;
	}

	#site_nav_1 {
        
        border-top: none;
        border-bottom: 3px solid;
        padding:  0px 0px 10px 0px;
	    align-items: center;
	    display: flex;
	    justify-content: center;
	    margin: 20px 0px 0px 0px;
	}

	#site_nav_2 {

		border-bottom: 3px solid #F2F2F2;
		padding:  0px 0px 10px 0px;
		align-items: center;
	    display: flex;
	    justify-content: center;
	    margin: 20px 0px 0px 0px;
}
 
	#site_nav_3 {

	    font-weight: bold;
		display: flex;
	    align-items: center;
	    grid-area: 1/2/-1/2;
	    justify-content: flex-end;
        margin-right: 20px;
	}

	.texte {

		width: 251px;
    	margin: 20px 20px 20px 20px;
	}

	
	
	button a {

		text-decoration: none;
		color: #ffffff;
		display: none;
		
	}

	.rechercher {

		margin-left: 20px;
    	width: 305px;
	}

	.rechercher i {

		font-size: 20px;
		padding: 14px;
		border-radius: 10px 0px 0px 10px;
	}

	input {

		padding-top: 16px;
	}

	.rechercher .fa-search {
	   
		background-color: #0065FC;
		color:#ffffff;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 16px;
		border-radius: 20px 20px 20px 20px;
		display: flex;
	}

	button {

		padding: 13px;
    	padding-bottom: 16px;
    	border-radius: 10px;
	}

	.filtre { 

		font-size: 18px;
		display: block;	
		flex-direction: column;	
		margin: 10px;
	}

	.filtre a {

		
	}
	.filtre h2 {

		font-size: 18px;
	}

	.filtre ul{

		padding: 0;
	}

	.nav {
			
		border: solid 3px #F2F2F2;
		border-left: none;
		border-radius:  30px;		
		margin: 0px 0px 20px 0px;
	}

	.information {

		display: flex;
		margin: 0px 0px 20px 20px;
	}

	#logements {

		display: flex;
		flex-direction: column-reverse;
		
	}

	.les_plus_populaires {
		
		border: none;
		background-color:  #F2F2F2;
		border-radius: 0px;
	   	padding: 20px 20px 10px 20px;
	}
 	
 	.les_plus_populaires h2 {

		display: inline-flex;
		width: 170px;
		margin-bottom: 20px;
	}


	.photo_2 {
		
		box-shadow: 0 0 16px #0000002e;
		border: solid #ffffff 4px ;
		padding-right: 186px;
	    width: 130px;
	    height: 140px;
		border-radius: 20px;
	}
	
	.contenant_2 {

	    height: 148px;
	    width: 327px;
	}

	.texte_2 {
		
	    left: 147px;
    	bottom: 136px;
	}

	.hebergements {

		border: none;
		border-radius: 0px;
		width: auto;
		height: auto;
		background-color: #ffffff;
		margin: 0;	
	}

	.hebergements_a_Marseille {

	   	margin: 0px 20px 20px 20px;
	}

	.hotel_1 {
		display: flex;
		flex-direction: column;
	}

	.hotel_2 {
		display: flex;
		flex-direction: column;
	}

	.photo_mobile {
		box-shadow: 0 0 16px #0000002e;
		border: solid #ffffff 4px;
		width: 315px;
		height: 110px;
		padding-bottom: 70px;
		border-radius: 20px;
		display: flex;
	}

	.contenant_1 {

		width: 320px;
		height: 190px;
		margin: 0px 0px 20px 0px;
	}

	.texte_1 {

	    width: 180px;
		left: 20px;
		bottom:	40px;
	
	}

	.photo_1 {
		
		box-shadow: 0 0 16px #0000002e;
		width: 335px;
		height: 110px;
		background-color: #ffffff;
		display: none;		
	}

	#les_activites {
     
	   	display: block; 
      	margin: 50px 20px 50px 20px;
	}

	.lieu {

		display: flex;
		flex-direction: column;
		
	}

	.photo_mobile_1 {

		box-shadow: 0 0 16px #0000002e;
		height: 130px;
		width: 326px;
		padding-bottom: 50px;
		border-radius: 20px;
		display: flex;
	}

	.contenant_3 {

 		height: 180px;
 		width: 327px;
 		margin-bottom: 20px;
	}

	.photo_3 {

		box-shadow: 0 0 16px #0000002e;
		margin-right: 0px;
		height: 110px;
		width: 335px;
		padding-bottom: 50px;
		border-radius: 20px;
		display: none;
	}

	.contenant_4 {

	   	height: 180px;
 		width: 327px;
 		margin-bottom: 20px;
	}

	.photo_4 {

		box-shadow: 0 0 16px #0000002e;
		margin-right: 0px;
		margin-bottom: 10px;
		width: 335px;
		height: 110px;
		padding-bottom: 50px;
		border-radius: 20px;
		display: none;
	}

	.contenant_5 {

	   	height: 180px;
 		width: 327px;
 		margin-bottom: 20px;	
	}

	.photo_5 {		

		box-shadow: 0 0 16px #0000002e;
		width: 335px;
		height: 110px;
		padding-bottom: 50px;
		border-radius: 20px;
		display: none;
	}

	.contenant_6 {

	   	height: 180px;
 		width: 327px;
 		margin-bottom: 20px;	}

	.photo_6 {

		box-shadow: 0 0 16px #0000002e;
		width: 335px;
		height: 110px;
		padding-bottom: 50px;
		border-radius: 20px;
		margin-bottom: 10px;
		display: none;
	}

	.texte_6 {

		position: relative;
		left: 20px;
		bottom: 35px;
	}

	.contenant_7 {

	   	height: 180px;
 		width: 327px;
 		margin-bottom: 20px;
	}

	.photo_7 {
	
		box-shadow: 0 0 16px #0000002e;
		margin-bottom: 20px;
		width: 335px;
		height: 110px;
		padding-bottom: 50px;
		border-radius: 20px;
		display: none;		
	}

	.texte_7 {

		position: relative;
		left: 20px;
		bottom: 35px;
	}

	footer {

		display: grid;
	    justify-content: initial;
	    align-items: center;
	   
	}

	#basdepage {	
		
		background-color:  #F2F2F2;
		font-size: 14px;
		line-height: 25px;
		width: auto;
		display: flex;
		flex-direction: column;
		
		
	} 
}

