body
{
	width: auto;
	height: auto;
	margin: 0;	
	font-family: 'Raleway', cursive;
	
}

#bloc_page {

	font-size: 14px;
	
	margin-left: 30px;
	
}

h1
{
	font-size: 18px;
}

h2
{
	font-size: 16px;
}

ul {
	list-style-type: none;
}

a
{
	text-decoration:none;
	color: #0065FC;
}

#site_nav_1
{
	border-top: solid;
	border-color: #0065FC;
	padding: 40px;
}

.menu
{
	display: flex;
	justify-content: left;
	align-items: center;
}

.logo
{
	margin-right: 760px;
}

.site_nav
{
	display: inline-block;
	margin-left: 50px;
}

#inscrire
{
	color: #0065FC;
}

.rechercher i
{
	font-size: 16px;
	border: none;
	border-radius: 10px 0px 0px 10px;
	padding: 10px;
	background-color: #F2F2F2;
	color:#000000;
	margin: 0px;
}


input
{
	font-size: 16px;
	border:none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bolder ;
	color: #000000;	
}

button
{
	font-size: 18px;
	background-color: #0065FC;
	color: white;
	border: none;
	border-radius: 0px 10px 10px 0px;
	padding: 5px;
}

.fa
{
	color: #DEEBFF;
}


.filtre 
{ 
	font-size: 17px;
	display: flex;
	align-items: center;
}

.nav
{
	display: inline-block;
	margin-right: 30px;
	border: solid 2px #F2F2F2;
	border-left: none;
	border-radius:  30px;
	padding-right: 10px;
	padding-left: -5px;
}
.information
{
	display: flex;
	align-items: center;
	margin-bottom: 20px;

}
.info
{
	border:solid 4px;
	border-color: #F2F2F2;
	width: 10px;
	padding-left: 5px;
	border-radius: 20px;
	margin-right: 10px;
}

#logements
{
	display: flex;
}

.hotel
{
	display: flex;
}

.Hebergements
{
	border: none;
	padding: 20px -0px 0px 50px;
	width: auto;
	height: auto;
	background-color:  #F2F2F2;
	border-radius: 20px;
	margin-right:45px;
}

.photo_1
{
	box-shadow: 0 0 16px #0000002e;
	width: 235px;
	height: 110px;
	border: solid #ffffff 4px;
	background-color:  #ffffff;
	padding-bottom: 60px;
	border-radius: 20px;
	margin-right: 45px;
	margin-top: 0px;
}

.contenant_1
{
	position: static;
}

.texte_1
{
	position: relative;
	left: 10px;
	bottom:	60px;
}

.les_plus_populaires
{
	
	border: none;
	padding: 20px 45px 0px 45px;
	background-color:  #F2F2F2;
	border-radius:20px;
}

.photo_2
{
	box-shadow: 0 0 16px #0000002e;
	border: solid #ffffff 4px;
	background-color:  #ffffff;
	padding-right: 180px;	
	width: 120px;
	height: 130px;
	border-radius: 20px;
	margin-bottom: -30px;
}

.contenant_2
{
	position: static;
}

.texte_2
{
	position: relative;
	left: 140px;
	bottom: 100px;
}

.star
{
	position: relative;
	top: 50px;
}

.les_activites
{
	margin-top: 50px ;
	margin-bottom: 30px;
}
.lieu
{
	display: flex;
	flex-wrap: wrap;
}

.photo_3
{
	box-shadow: 0 0 16px #0000002e;
	margin-right: 50px;
	height: 420px;
	width: 300px;
	padding-bottom: 40px;
	border-radius: 20px;
}

.contenant_3
{
	position: static;
}

.texte_3
{
	position: relative;
	left: 10px;
	bottom: 32px;
}

.photo_4
{
	box-shadow: 0 0 16px #0000002e;
	margin-right: 50px;
	margin-bottom: 20px;
	width: 300px;
	height: 190px;
	padding-bottom: 40px;
	border-radius: 20px;
	
}
.contenant_4
{
	position: static;
}

.texte_4
{
	position: relative;
	left: 10px;
	bottom: 50px;
}

.photo_5
{
	
	box-shadow: 0 0 16px #0000002e;
	width: 300px;
	height: 150px;
	padding-bottom: 40px;
	border-radius: 20px;

}

.contenant_5
{
	position: static;
}

.texte_5
{
	position: relative;
	left: 10px;
	bottom: 32px;
}

.photo_6
{
	
	box-shadow: 0 0 16px #0000002e;
	width: 300px;
	height: 150px;
	padding-bottom: 40px;
	border-radius: 20px;
	margin-bottom: 20px;
}

.contenant_6
{
	position: static;
}

.texte_6
{
	position: relative;
	left: 10px;
	bottom: 50px;
}

.photo_7
{
	box-shadow: 0 0 16px #0000002e;
	margin-bottom: 20px;
	width: 300px;
	height: 190px;
	padding-bottom: 40px;
	border-radius: 20px;
	
}
.contenant_7
{
	position: static;
}

.texte_7
{
	position: relative;
	left: 10px;
	bottom: 50px;
}

.fas
{
	color: #0065FC;
}

.far
{
	color: #F2F2F2;
}

#basdepage
{
	font-size: 14px;
	padding-top: 25px;
	padding-bottom: 25px; 
	background-color:  #F2F2F2;
	display: flex;	
	line-height: 25px;
} 

#basdepage ul
{
	margin-right: 220px;
}
